# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
.venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Streamlit & Notebooks
.streamlit/
.ipynb_checkpoints/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
